.gallery {
    font-family: arial;
    padding: 0 2em;
    font-size: 18px;
    color: #aaa;
    text-align:center;
	margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
h1.page-title {
    margin-top: 20px;
  }

a.fa {
    text-decoration: none;
}

.thumb {
    max-height: 250px;
    border: solid 4px #333;
    margin: 4px;
  border-radius: 6px;
  transition: transform 0.5s;
}

.thumb:hover {
    transform: scale(1.03);
    transition: transform 0.5s;
}
.lightbox {
    position: fixed;
    z-index: 999;
    height: 0;
    width: 0;
    text-align: center;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    align-self: center;
    opacity: 0;
}
.lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin-top: 2%;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.lightbox:target {
    outline: none;
    width: 100%;
    height: 100%;
    opacity: 1 !important;
    
}
.lightbox:target img {
    border: solid 17px white;
    border-radius: 6px;
    margin-top: 5%;
    opacity: 1;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}
.light-btn {
    width: 10px; height: 10px;
    color: #fafafa;
  /*  background-color: #333;
    border: solid 3px white;
   */ padding: 20px 20px;/*
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    vertical-align: middle;*/
    position: absolute;
    top: 45%;
    z-index: 99;
  font-size: 7vmax;
  text-shadow: 0px 0px 10px #000;
  transition: transform 500ms;
}
.light-btn:hover {
    /*background-color: #111;*/

    transition: transform 500ms;
}
.btn-prev {
    left: 1%;
}
.btn-next {
    right: 4%;
}
 .btn-prev:hover {
      transform: translateX(-3px);
    transition: transform 500ms;
}
.btn-next:hover {
      transform: translateX(3px);
    transition: transform 500ms;
}
.btn-close {
    position: absolute;
    right: 3%;
    top: 4%;
    color: #fafafa;
    background-color: red;
    border: solid 5px white;
    padding: 7px 7px;
    border-radius: 15%;
    text-decoration: none;
    font-size: 5vh;
    overflow: hidden;
    line-height: 2.8vh;
    transition: background-color 0.2s;
}
.btn-close:hover {
    background-color: #740404;
    transition: background-color 0.2s;
}